/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Outfit"; /* Name the font */
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype"); /* Path to the font file */
  font-weight: 100 900; /* Define the weight range supported by the variable font */
  font-style: normal; /* Specify the font style */
  font-display: swap; /* Optional: Use swap to avoid rendering delays */
}

@font-face {
  font-family: "YoungSerif"; /* Name the font */
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype"); /* Path to the font file */
  font-weight: 100 900; /* Define the weight range supported by the variable font */
  font-style: normal; /* Specify the font style */
  font-display: swap; /* Optional: Use swap to avoid rendering delays */
}

:root {
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-brown: hsl(14, 45%, 36%);
}

body {
  height: 100svh;
  width: 100svw;
  background-color: var(--color-stone-100);
  font-family: "Outfit", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "YoungSerif", sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 128px 0;
}

article {
  background-color: white;
  padding: 32px;
  max-width: 600px;
  margin-bottom: 32px;
  border-radius: 15px;
}

.overview h1 {
  padding: 16px 0;
  font-size: 2rem;
}

.overview p {
  padding-bottom: 16px;
}

.overview,
img {
  border-radius: 10px;
}

ul,
ol {
  padding: 0 24px;
}
li {
  padding-left: 16px;
}

.preparation {
  padding: 16px;
  background-color: var(--color-rose-50);
  border-radius: 10px;
}

.preparation h2,
.preparation li::marker {
  color: var(--color-rose-800);
}
