/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set colours */
:root {
  --color-green: hsl(75, 94%, 57%);
  --color-grey-900: hsl(0, 0%, 8%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-white: #fff;
}

@font-face {
  font-family: "Inter"; /* Name the font */
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype"); /* Path to the font file */
  font-weight: 100 900; /* Define the weight range supported by the variable font */
  font-style: normal; /* Specify the font style */
  font-display: swap; /* Optional: Use swap to avoid rendering delays */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--color-grey-900);
  color: white;
  font-family: "Inter", "systemui", "sans-serif";
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Remove default text decoration on links*/
a {
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 16px;
}

.card-container {
  background-color: var(--color-grey-800);
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 24rem;
  min-height: 100%;
  gap: 1rem;
  padding: 2rem;
}

.author-info,
.about-me {
  text-align: center;
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
}

.location {
  color: var(--color-green);
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

.about-me {
  font-size: 0.8rem;
  font-weight: 400;
  color: grey;
}

.profile-picture {
  max-width: 100%;
  width: 64px;
  height: auto;
  border-radius: 30px;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.links-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  padding: 0.5rem;
  background-color: var(--color-grey-700);
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

.links-container a:hover {
  background: var(--color-green);
  color: var(--color-grey-900);
  transition: all ease-out 0.2s;
}
