/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --color-yellow: #f4d04e;
  --color-grey-950: #111111;
  --color-grey-500: #6b6b6b;
  --color-white: #fff;
}

@font-face {
  font-family: "Figtree"; /* Name the font */
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"); /* Path to the font file */
  font-weight: 100 900; /* Define the weight range supported by the variable font */
  font-style: normal; /* Specify the font style */
  font-display: swap; /* Optional: Use swap to avoid rendering delays */
}

body {
  margin: 0;
  font-family: "Figtree", system-ui, sans-serif;
  background-color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  line-height: 150%;
  padding: 16px;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24rem;
}

.card-content {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 23px;
  border: 0.3mm solid var(--color-grey-950);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--color-grey-950) 8px 8px;
  gap: 1.25rem;
}

.published-date,
.course-title,
.course-description {
  padding-top: 0.75rem;
}

.course-image img {
  border-radius: 10px;
  display: block;
  height: auto;
  max-width: 100%;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.author img {
  display: block;
  height: auto;
  width: 32px;
  height: 32px;
}

.course-category {
  display: inline-block;
  background-color: var(--color-yellow);
  border-radius: 5px;
  padding: 0.2em 1em;
  font-size: 14px;
  font-weight: bold;
}

.published-date {
  font-size: 0.86rem;
  font-weight: 400;
}

.course-title {
  font-size: 1.5rem;
  transition: color 0.2s;
}

.course-title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.course-description {
  font-weight: 400;
  color: var(--color-grey-500);
}

.author-text {
  font-weight: 700;
  font-size: 0.86rem;
}
